<h5>Новий пост</h5>

<%= form_for :post, url: posts_path do |f| %>
 <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert-danger"><%= msg %></div>
    <% end %>
 <% end %>

<p>
 Название поста<br>
  <%= f.text_field (:title) %>
</p>

  <p>
    Техт поста<br>
    <%= f.text_area (:body) %>
  </p>

  <div>
   <%= f.label :image %><br>
    <%= f.file_field :image %><br>
  </div>

  <div>
    <%= f.label :images %><br>
    <%= f.file_field :images, multiple:true %><br>
  </div>

  <p>
    <%= f.submit ({:class => 'btn btn-success' })%>
  </p>

<% end %>